.test {
    color: aqua;
}

.chatWindow {
    max-width: 700px;
    min-width: 250px;
    max-height: 90%;
    min-height: 20%;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background: #282828;
    border: 1px solid #EDEDED;
    border-radius: 37.5px;
}

.inputContainer {
    background: #F3F3F3;
    border-radius: 32px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 40px;
}

.messageContainer {
    min-height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.submitButton {
    right: 0px;
    position: fixed;
}

.textField {
    left: 0px;
    width: auto;
}

.message {
    display: flex;
}

.messageBubble {
    border-radius: 35px;
    width: 80%;
    padding: 12px;
}

.userMessage {
    background: #F9C35B;
}

.botMessage {
    background: #F1F0F0;
}

.icon {
    margin: 12px;
    width: 40px;
    height: 40px;
    background: #F1F0F0;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
    background-position: center center;
}

.botIcon {
    background-image: url('./avatar-21 copy.png');
}

.userIcon {
    background-image: url('./icon.svg');
}

.typing:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}


